{% extends "register/base.html" %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}

<article class="bg-light">

        <h1>マップ：テスト</h1>

        <p>
        <div id="floating-panel">
            <input id="latlng" type="text" value="33.232647,131.651055">
            <input id="submit1" type="button" value="座標で検索">
        </div>
        </p>

        <p>
        <div id="floating-panel">
            <input id="address" type="text" value="大分高専">
            <input id="submit2" type="button" value="地名や場所で検索">
        </div>
        </p>


        <p>
        <form name="ahe_form" action="ass.html">
        <input type="text" name="textbox">
        <input type="button" value="コメント投稿テスト版" onclick="ahe()">
        </form>
        </p>

        <ul>
            <li>lat: <span id="lat"></span></li>
            <li>lng: <span id="lng"></span></li>
        </ul>

        

        <p>
        <div id='map' style="width:100%;height:400px;	margin-left: auto;
	margin-right: auto;"></div>
        </p>

        <script type="text/javascript" src="{% static "agrimap/hoge.js" %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGDQUmUwxTKDYbrOXlzLasHgeBfuPkVoA&callback=initMap" async defer></script>


        <form method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}

                {% csrf_token %}
            </form>


</article>

{% endif %}

{% endblock %}

