{% extends "comment/base.html" %}
{% block content %}
<h1>記事の詳細</h1>
<hr>
 
<h2>{{ post.title }}</h2>
<p>{{ post.text }}</p>
<hr>
 
<h2>コメント一覧</h2>
<a href="{% url 'app:comment' post.pk %}">コメントする</a>
<hr>
{% for comment in post.comment_set.all %}
    {% if comment.is_public %}
        名前:{{ comment.name }}<br>
        テキスト:{{ comment.text }}<br>
        <a href="{% url 'comment:reply' comment.pk %}">返信する</a><br>
    
        {% for reply in comment.reply_set.all %}
        <div style="margin-left:100px;">
            {% if reply.is_public %}
                名前:{{ reply.name }}<br>
                テキスト:{{ reply.text }}<br>       
            {% else %}
                <p>まだ承認されていません。(返信コメント)</p>
            {% endif %}
        </div>
        {% endfor %}
 
    {% else %}
        <p>まだ承認されていません。(コメント)</p>
    {% endif %}
    <hr>
{% endfor %}
{% endblock %}