{% extends "register/base.html" %}
{% block content %}





  {% load static %}


  <script src="{% static 'register/app1.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGDQUmUwxTKDYbrOXlzLasHgeBfuPkVoA&callback=initMap" async defer></script>

  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 80%;
      width: 100%;
    }
  </style>

<div id="map"></div>

<script>

    var CHOICES = ['ほうれん草','白菜','トマト', 'たまねぎ', 
               'ナス', 'ネギ', 'ジャガイモ', 'きのこ', 'にんじん', 'だいこん', 'かぼちゃ', 'きゅうり', 'ブロッコリー', 'ピーマン', 'キャベツ', '米', 'イチゴ', 'カボス', 'みかん', '梨', 'ぶどう', 'キウイ', 'その他', 

    ]
    var marker = new Array();

    var initLatLng = {lat: Number("{{lat}}"), lng: Number("{{lng}}")};

    function initMap() {
      // マップの初期化
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: initLatLng,
      });




      
   //   alert("grsg");
      $.ajax({
            'url':'{% url "register:pin_data" %}',
            'type':'POST',

            'dataType':'json',
    
          csrfmiddlewaretoken: '{{ csrf_token }}',
            'success':function(response){  // 通信が成功したら動く処理で、引数には返ってきたレスポンスが入る
             //   alert(response.your_surprise_txt['lat']);  // レスポンスからデータを取り出してアラート
             //   alert(response.ccc[1]['num']);
              //  alert(response.ccc[1]['lat']);
               // alert(response.ccc[1]['lng']);


            }

            },
          'error':function(response){  // 通信が成功したら動く処理で、引数には返ってきたレスポンスが入る
                alert("st");  // レスポンスからデータを取り出してアラート
              //  alert(response.your_surprise_txt)
            //    alert(iti);
            },

        });




    }

 

</script>

{% endblock %}