{% extends "register/base.html" %}
{% block content %}





  {% load static %}


  <script src="{% static 'register/app1.js' %}"></script>
  <script src="{% static 'register/hoge.json' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGDQUmUwxTKDYbrOXlzLasHgeBfuPkVoA&callback=initMap" async defer></script>

  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 80%;
      width: 100%;
    }
  </style>

<div id="map"></div>

<script>

    var CHOICES = ['ほうれん草','白菜','トマト', 'たまねぎ', 
               'ナス', 'ネギ', 'ジャガイモ', 'きのこ', 'にんじん', 'だいこん', 'かぼちゃ', 'きゅうり', 'ブロッコリー', 'ピーマン', 'キャベツ', '米', 'イチゴ', 'カボス', 'みかん', '梨', 'ぶどう', 'キウイ', 'その他', 

    ]
    var marker = new Array();

    var initLatLng = {lat: Number("{{lat}}"), lng: Number("{{lng}}")};

    function initMap() {
      // マップの初期化
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: initLatLng,
      });




      
   //   alert("grsg");
      $.ajax({
            'url':'{% url "register:pin_data" %}',
            'type':'POST',

            'dataType':'json',
    
          csrfmiddlewaretoken: '{{ csrf_token }}',
            'success':function(response){  // 通信が成功したら動く処理で、引数には返ってきたレスポンスが入る
             //   alert(response.your_surprise_txt['lat']);  // レスポンスからデータを取り出してアラート
             //   alert(response.ccc[1]['num']);
              //  alert(response.ccc[1]['lat']);
               // alert(response.ccc[1]['lng']);

          for ( var i = 1; i <= response.ccc[1]['num']; i++ ) {

          //alert(response.ccc[i]['lat']);

          var myLatLng = {lat: Number(response.ccc[i]['lat']), lng: Number(response.ccc[i]['lng'])};

          //alert(response.ccc[i]['pulldown']);

          var icon = new Array();
          


          //地獄の野菜ifゾーン

        var Size = new google.maps.Size(71, 71);
        var Point = new google.maps.Point(0, 0);
        var Point2 = new google.maps.Point(17, 34);
        var Size2 = new google.maps.Size(25, 25);

        var image_num = 1;

        for (var C_obj of CHOICES){
                          

               if(response.ccc[i]['pulldown']==C_obj){

                   icon[i] = new google.maps.MarkerImage(
                   "{% static 'register/img/12345.png' %}".replace(/12345/, image_num),
                   Size,
                   Point,
                   Point2,
                   Size2);

                   break;
               }            
               image_num=1+image_num;
        }
 
               




                marker[i] = new google.maps.Marker({
                position: myLatLng,
                map: map,
                animation: google.maps.Animation.DROP,
                icon: icon[i],

                title: response.ccc[i]['pulldown']

                });

  
         google.maps.event.addListener(marker[i], 'click', function(event) {

            map.setZoom(8);
    	    var latlng = this.getPosition();
            var id = marker.indexOf(this);
            map.panTo(latlng);


    location.href = "{% url 'register:user_detail' 123456 %}".replace(/123456/,id);

        });

            }

            },
          'error':function(response){  // 通信が成功したら動く処理で、引数には返ってきたレスポンスが入る
                alert("st");  // レスポンスからデータを取り出してアラート
              //  alert(response.your_surprise_txt)
            //    alert(iti);
            },

        });




    }

 

</script>

{% endblock %}