{% extends "register/base.html" %}
{% block content %}

  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 80%;
      width: 100%;
    }
  </style>

<ul>


  
  </ul>
<div id="map"></div>

        <p>
        <div id="floating-panel">
            <input class="form-control" id="address" type="text" placeholder="郵便番号，都道府県，市を入力">
            <input class="btn btn-success btn-xs" id="submit2" type="button" value="地名や場所で検索">
        </div>
        </p>

<form action="" method="POST">
    {{ form.non_field_errors }}
    <table class="table" >
        <tbody>
            {% for field in form %}

                <div class="form-group" style="text-align:left;">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
                <tr>

                    <th><li>所在地</li></th>


                    <td><span id="geo"></span></td>

                </tr>

                <tr>
                    <th><li></li></th>


                    <td><a href="{% url 'register:password_change' %}">パスワード変更はこちらから</a></td>

                </tr>
                    
        </tbody>

    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-lg" >送信</button>
</form>
  {% load static %}

  <script src="{% static 'register/app1.js' %}"></script>


<script>
    function getClickLatLng(lat_lng, map) {
      event.preventDefault();
//alert(JSON.stringify(obj));
      // 座標を表示
      a="{% url 'register:user_update' user.pk %}";
     
      var obj={
          lat:lat_lng.lat(),
          lng:lat_lng.lng(),
      };



    var geocoder = new google.maps.Geocoder;

    geocoder.geocode({'location': lat_lng}, function(results, status) {
          if (status === 'OK') {
            if (results[0]) {
              map.setZoom(16);
			  map.panTo(lat_lng);
              
			  window.alert(results[0].formatted_address + 'mother fucker');
          document.getElementById('geo').textContent = results[0].formatted_address;

    $.ajax({
            'url':'{% url "register:save_latlng" %}',
            'type':'POST',
            'data':{
                'lat':lat_lng.lat(),
                'lng':lat_lng.lng(),
                'geo': results[0].formatted_address,
                'lng_w':'afeeg',
                'lng_s':a,
                
            },
            'dataType':'json',
            
          csrfmiddlewaretoken: '{{ csrf_token }}',
            'success':function(response){  // 通信が成功したら動く処理で、引数には返ってきたレスポンスが入る
                //alert(response.aaa['lat']);  // レスポンスからデータを取り出してアラート
                //alert(iti);
            },
          'error':function(response){  // 通信が成功したら動く処理で、引数には返ってきたレスポンスが入る
                alert("st");  // レスポンスからデータを取り出してアラート
                alert(response.your_surprise_txt)
                alert(iti);
            },
        });

            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });


      alert(lat_lng);


                var marker = new google.maps.Marker({
                position: lat_lng,
                map: map,
                animation: google.maps.Animation.DROP,
                //icon: icon
                draggable: true,
                title: "Drag me!"

            });
  
      iti=lat_lng.lat()+","+lat_lng.lng();
 //     alert(obj.lat);
        
       
      var marker = new google.maps.Marker({
        position: lat_lng,
        map: map,

      });
}
</script>
<script>

     $(document).ready(function(){initMap();});

    function initMap() {

      // マップの初期化
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: {lat: 33.232647, lng: 131.651055}
      });

      // クリックイベントを追加
      map.addListener('click', function(e) {
        getClickLatLng(e.latLng, map);
      });

       var geocoder = new google.maps.Geocoder;
    document.getElementById('submit2').addEventListener('click', function() {
    geocodeAddress(geocoder, map);
    });

    }


    function geocodeAddress(geocoder, resultsMap) {


        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);

              resultsMap.setZoom(17);


            //タイムアウトがしたかった

          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
    }

</script>


{% endblock %}
