{% extends "register/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <div style="text-align:left;" class="form-group">
            <label>ユーザー名</label>
            {{ user.HN }}
        </div>
        <div style="text-align:left;" class="form-group">
            <label>ユーザー名</label>
            {{ user.username }}
        </div>
        {% if user.username != user.email %}
        <div style="text-align:left;" class="form-group">
            <label>mail-address</label>
            {{ user.email }}
        </div>
        {% endif %}
        <div style="text-align:left;" class="form-group">
            <label>姓</label>
            {{ user.last_name }}
        </div>
        <div style="text-align:left;" class="form-group">
            <label>名</label>
            {{ user.first_name }}
        </div>


        <div style="text-align:left;" class="form-group">
            <label>野菜の種類</label>
            {{ user.pulldown }}
        </div>

        <div style="text-align:left;" class="form-group">
            <label>所在地</label>
            {{ user.geo }}
        </div>
    </tbody>
</table>





{% endblock %}