{% extends "register/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.username }}</td>
        </tr>
        {% if user.username != user.email %}
        <tr>
            <th>mail-address</th>
            <td>{{ user.email }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>姓</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>ざひょーん</th>
            <td>{{ user.example3 }}</td>
        </tr>
        <tr>
            <th>2</th>
            <td>{{ user.example2 }}</td>
        </tr>
        <tr>
            <th>1</th>
            <td>{{ user.example1 }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}