.select_month{
  width:150px;
  height:50px;
  font-size:20px;
}
.select_year{
  width:150px;
  height:50px;
  font-size:20px;
}
#overlay {
  /* viewpointを相対位置にし、全画面表示にする */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);  /* 背景を半透明にする */
  display: none;  /* HTML要素を非表示にする */
  z-index: 1  /* 「メインのHTML要素」よりもスタックレベルを高くする */
 }

#modalWindow {
  width: 100%;
  height: 90%;
  position: fixed; /* viewpointを相対位置にする */
  border: 2px solid #D04255;
  background-color: #FFF;
  display: none; 
  z-index: 2  /* 「オーバーレのHTML要素」よりもスタックレベルを高くする */
}
#itdate{
  font-size: 45px;
  color:red;
  text-align: center;
}
#close{
  padding: 20px;
  display:block;
  margin: 0 auto;
  font-size: 20px;
}
table {
　background: #008080;
  margin-left: auto;
　margin-right: auto
}
tr.midasi{
	background-color: #bde9ba;
}