.select_month{
  width:100px;
  height:40px;
  font-size:15px;
}
.select_year{
  width:100px;
  height:40px;
  font-size:15px;
}


#Detail {
    width: 100%;
    height: 100%;
    /* viewpointを相対位置にする */
    position: relative;
    min-height: 100vh;
    padding-bottom: 120px;
    box-sizing: border-box;
}

#close{
  padding: 10px;
  display:block;
  margin: 10px auto;
  font-size: 12px;
}
table {
　background: #008080;
  margin-left: auto;
　margin-right: auto;
}
tr.midasi{
	background-color: #bde9ba;
}